doctype html
head
  meta(charset='UTF-8')
  title Password Update Confirmation
  link(rel='stylesheet' href='css/cp.css')
.container
  h1 Password Update Confirmation
  p Your password has been successfully updated!
  a.btn(href='#') Go Back And Login
