doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/forgetpassword.css')
  title Forgot Password
.container
  h1 Forgot Password
  form(action='/sendemail')
    label(for='email') Email Address:
    input#email(type='email' name='email' required)
    button(type='submit') Send Token
