extends base

block content
  div
    ul(style='display: flex; position: relative; top: 45px; left: 60px;')
      li
        a(href='')
          img(src='image/book-1.png' alt='')
      li
        a(href='')
          img(src='image/book-2.png' alt='')
      li
        a(href='')
          img(src='image/book-3.png' alt='')
    p(style='position: relative; left: 585px; top: -112px; font-size: 14px;text-transform: none;')
      | OnLibrary is an e-book reader website that allows users to search, read and download books of their choice.
      br
      |  The website provides a personal account for each user, which allows them to keep track of their reading progress,
      br
      | bookmark pages, and leave reviews. With OnLibrary, users can access a wide variety of e-books and read them on
      br
      |  any device with internet access.
      |         OnLibrary provides a user-friendly interface and a vast collection of books from
      br
      |  different genres. It aims to make reading convenient and accessible for book enthusiasts all around the world.
    // <a href="#" class="read-btn">read now</a>
  #heading
    h1.heading
      span new arrivals
    ul(style='display: flex')
      a(href='')
        li.arrival-box
          img(src='image/book-1.png' alt='')
          h2 The Art City
      a(href='')
        li.arrival-box
          img(src='image/book-2.png' alt='')
          h2
            | Thanks in 
            br
            | Everything
      a(href='')
        li.arrival-box
          img(src='image/book-3.png' alt='')
          h2 Your Name
    ul(style='display: flex')
      a(href='')
        li.arrival-box
          img(src='image/book-4.png' alt='')
          h2
            | Your Title Goes 
            br
            | Here
      a(href='')
        li.arrival-box
          img(src='image/book-5.png' alt='')
          h2 Music Rocks
      a(href='')
        li.arrival-box
          img(src='image/book-6.png' alt='')
          h2 Sample Rocks
  #heading1
    h1.heading1
      span client&apos;s reviews
    ul(style='display: flex;')
      a(href='')
        li.review-box
          img(src='image/pic-1.png' alt='')
          h3 John
          p
            | OnLibrary provides a user-friendly interface and a vast collection of books from different genres.
      a(href='')
        li.review-box
          img(src='image/pic-2.png' alt='')
          h3 Alia
          p
            | OnLibrary provides a user-friendly interface and a vast collection of books from different genres.
      a(href='')
        li.review-box
          img(src='image/pic-3.png' alt='')
          h3 Steve
          p
            | OnLibrary provides a user-friendly interface and a vast collection of books from different genres.