doctype html
head
  meta(charset='UTF-8')
  title Change Password
  link(rel='stylesheet' href='css/setpassword.css')
.container
  h1 Change Password
  form(action='/changePassword')
    .form-control
      label(for='otp') Enter Reset Token:
      input#otp(type='text' name='token' placeholder='Enter Token' required='')
    .form-control
      label(for='new-password') New Password:
      input#new-password(type='password' name='password' placeholder='Enter new password' required='')
    .form-control
      label(for='confirm-password') Confirm Password:
      input#confirm-password(type='password' name='confirmPassword' placeholder='Confirm new password' required='')
    button(type='submit') Change Password
